<app-topbar1></app-topbar1>
<app-topbar2></app-topbar2>


<div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-warning text-white w-100"
                data-toggle="collapse" href="#navbar-vertical" style="height: 60px; margin-top: -1px; padding: 0 30px;">
    
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                id="navbar-vertical">
                <div class="w-100 overflow-hidden" style="height: 410px">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Les timbres postaux <i
                            class="fa fa-angle-down float-right mt-1"></i></a>
                    <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                        <a href="#" class="nav-link" data-toggle="dropdown"> Par Thème <i
                                class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="" class="dropdown-item">Femmes tunisiennes célébres</a>
                            <a href="" class="dropdown-item">L'art de la rue</a>
                            <a href="" class="dropdown-item">Fête de l'indépendance</a>
                            <a href="" class="dropdown-item">Scènes de la vie tunisienne</a>
                            </div>
                            <a href="#" class="nav-link" data-toggle="dropdown">Par artiste<i
                                    class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Hédi TURKI</a>
                                <a href="" class="dropdown-item">Leila ALLAGUI</a>
                                <a href="" class="dropdown-item">Amor Zammouri</a>
                            </div>
                        </div>
                    </div>
    
                    <a href="" class="nav-item nav-link">Bouquets de fleurs</a>
                    
    
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <!-- <a href="" class="text-decoration-none d-block d-lg-none"> -->
                <!-- <h1 class="m-0 display-5 font-weight-semi-bold">e-Shop de la Poste Tunisienne</h1> -->
                <!-- </a> -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="" class="nav-item nav-link active">Accueil</a>
                        <!-- <a routerLink="/product" class="nav-item nav-link">Shop</a>
                        <a routerLink="/product" class="nav-item nav-link">Shop Detail</a> -->
    
                        <a routerLink="/about" class="nav-item nav-link">A propos</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Nouveauté</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a routerLink="/product" class="dropdown-item"> Timbre poste AR</a>
                                <a href="" class="dropdown-item">Timbre poste </a>
                            </div>
                        </div>
    
    
                        <!-- contact probleme du page  -->
                        <a routerLink="../contact" class="nav-item nav-link">Contact</a>
                    </div>
    
                </div>
            </nav>
    

<div class="descabout" style="margin-top:50px ; text-align: justify;">

<h1 > Eshop le site du commerce électronique </h1>


<div  Align= "justify" class=" container" >
    Bienvenue au site eshop de la  vente  des produits de la poste tunisienne
    Notre site vous offre une variété de timbres-poste tunisiens et de produits philatéliques ainsiqu'une collection des fleurs . 
    Il vous permet de :
    * Connaître les nouveautés des timbres-poste tunisiens,
    * Acheter en ligne et de façon sécurisée des timbres-poste et des produits philatéliques,
    * Ouvrir un compte pour recevoir automatiquement les produits choisis, sans remplir les formulaires, à chaque commande.
    
   <h4> Historique de la philatélie : </h4> 
    La tradition de collectionner les timbres-poste est ancrée chez les Tunisiens. Elle remonte à la fin du 19ème siècle juste après la naissance du premier timbre-poste tunisien soit le 1er juillet 1888.
    
    Depuis lors, l'intérêt pour la philatélie n'a cessé de se manifester et de se développer.
    
    Le patrimoine philatélique tunisien comprend un grand nombre de trésors regroupant plus de 1600 timbres-poste aux quels s'ajoutent des produits divers composés d'enveloppes premier jour, des blocs et feuillets, des entiers postaux, des carnets, des épreuves de luxe et des cartes postales.
    
    En parcourant la collection Nationale des timbres-poste Tunisiens, on vit des moments passionnants à travers des illustrations portant sur l'histoire, la géographie, la terre et les hommes et traitant de thèmes multiples comme la faune et la flore, les sites et monuments, le sport et loisir, les arts, la technologie, les personnages célèbres …
    </div>
    <div class=" container"> Pour plus d'informations contactez-nous au :
    Centre de la philatélie
    e-mail :	philatelie@poste.tn
    Adresse :	Complexe postal, Avenue Habib Bourguiba 2080 Ariana - Tunisie
    Téléphone :	00 216 71 719 579
    00 216 71 713 936
    Fax :	00 216 71 714 085</div>



</div>


