<app-topbar1></app-topbar1>

<div class="container">
  <div style="width:400px">
    <div class="col">
      <!-- <h1 class='cover-title'>Achetez la dernière <br/> collection 2022</h1> -->
    </div>
    <div class="col">
      <span style="margin-top: 50px;" class="badge badge-pill badge-warning">Connectez-vous ici ! </span> -->

      <form [formGroup]="formLogin" (ngSubmit)="login()" >
        <div class="alert alert-danger" *ngIf="errorLogin">Email ou mot de passe incorrecte !!</div>
        <h3  style ="margin: 50px 0" class="mb-4 display-5 font-weight-semi-bold"> Accéder à votre compte </h3>
        <div class="form-floating mb-3 mt-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Votre email ici" formControlName="email" name="email">

        </div>
        <div class="form-floating mt-3 mb-3">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" placeholder="Votre mot de passe ici" formControlName="password" name="pswd">

          <br />

          <div class="container">
            <div class="row">
              <div class="col">
                <button style="margin-top:20px;" type="submit" class=" btn-sm-6 btn btn-warning">Se connecter </button>
              </div>
              <div class="col">
                <button style="margin-top:20px;" type="submit" routerLink="" class=" btn-sm-6 btn btn-outline-dark">Annuler </button>

              </div>
            <br/>

              <div style="margin-top:20px;">
                <a href="/inscription"> Créer un compte ? </a>
              </div>
            </div>
          </div>


        </div>

      </form>
    </div>
  </div>
</div>



<app-footer></app-footer>
