<app-topbar1></app-topbar1>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container-fluid mb-5"   style="background-color: #1E1B58;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3"  style="color: #fdc600;">Votre profil</h1>
  
    </div>
  </div>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{name}}
                                    </h5>
                                    <h6>
                                        {{role}}
                                    </h6>
                                    <br>
                                    <br>
                            <ul class="nav nav-tabs "  style="width:800px;" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Informations du compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#commandes" role="tab" aria-controls="profile" aria-selected="false">Commandes récentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#paiement" role="tab" aria-controls="paiement" aria-selected="false">Modes de paiement</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <a routerLink="/editprofile"><span class="badge badge-pill badge-warning" style="color:white; padding:10px"> Modifier profil  </span></a>
                      
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <span>Adresse de facturation </span>

<p>{{  adresse}}</p>
                            <div class="block">
                                <app-editprofile [text]="text"> </app-editprofile>
                                </div>
                            <!-- <div class="d-flex">
                                <p>{{adresse}} </p>
                                <input [(ngModel)]="editText" *ngIf="editmode" type="text" style="margin-left:0px ; border-width: 0 0 1px 0;">
                            
                            
                            
                            
                                <div class="kk">
                                    <button *ngIf="!editmode" (click)="edit()" style="border:none;background: none;"><i
                                            class="bi bi-pencil-square "></i></button>
                                    <button *ngIf="editmode" (click)="save()" style="border:none;background: none;"><i
                                            class="bi bi-check igreen"></i></button>
                                    <button *ngIf="editmode" (click)="cancel()" style="border:none;background: none;"><i
                                            class="bi bi-x ired"></i></button>
                                </div>
                            </div><br/> -->

                           
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nom </label>
                                            </div>
                                            <div class="col-md-6">

                                                <!-- <div class="d-flex">
                                                    <p>{{name}} </p>
                                                    <input [(ngModel)]="editText" *ngIf="editmode" type="text" style="margin-left:0px ; border-width: 0 0 1px 0;">
                                                                                             
                                                
                                                    <div class="button-group">
                                                        <button *ngIf="!editmode" (click)="edit()" style="border:none;background: none;"><i
                                                                class="bi bi-pencil-square "></i></button>
                                                        <button *ngIf="editmode" (click)="save()" style="border:none;background: none;"><i
                                                                class="bi bi-check igreen"></i></button>
                                                        <button *ngIf="editmode" (click)="cancel()" style="border:none;background: none;"><i
                                                                class="bi bi-x ired"></i></button>
                                                    </div>
                                                </div> -->
                                                
                                                       
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <div class="d-flex">
                                                    <p>{{email}} </p>
                                                    <input [(ngModel)]="editText" *ngIf="editmode" type="text" style="margin-left:0px ; border-width: 0 0 1px 0;">
                                                
                                                
                                                
                                                
                                                    <div class="button-group">
                                                        <button *ngIf="!editmode" (click)="edit()" style="border:none;background: none;"><i
                                                                class="bi bi-pencil-square "></i></button>
                                                        <button *ngIf="editmode" (click)="save()" style="border:none;background: none;"><i
                                                                class="bi bi-check igreen"></i></button>
                                                        <button *ngIf="editmode" (click)="cancel()" style="border:none;background: none;"><i
                                                                class="bi bi-x ired"></i></button>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <div class="d-flex">
                                                    <p> 00 216 22 333 444 </p>
                                                    <input [(ngModel)]="editText" *ngIf="editmode" type="text" style="margin-left:0px ; border-width: 0 0 1px 0;">
                                                
                                                
                                                
                                                
                                                    <div class="button-group">
                                                        <button *ngIf="!editmode" (click)="edit()" style="border:none;background: none;"><i
                                                                class="bi bi-pencil-square "></i></button>
                                                        <button *ngIf="editmode" (click)="save()" style="border:none;background: none;"><i
                                                                class="bi bi-check igreen"></i></button>
                                                        <button *ngIf="editmode" (click)="cancel()" style="border:none;background: none;"><i
                                                                class="bi bi-x ired"></i></button>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>

                            </div>
                            <div class="tab-pane fade" id="commandes" role="tabpanel" aria-labelledby="profile-tab">
                                <p> Vous n’avez aucune commande enregistrée. </p>
                     </div>
                            <div class="tab-pane fade" id="paiement" role="tabpanel" aria-labelledby="profile-tab">
                               <p> Vous n’avez aucun mode de paiement enregistré. </p>
                    </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        
<!-- <div class="d-flex">
    <span>{{text}} </span>
    <input [(ngModel)]="editText" *ngIf="editmode" type="text" style="border-width:0 0 1px 0; width:20px">




    <div class="vv">
        <button *ngIf="!editmode" (click)="edit()" style="border:none;background: none;"><i
                class="bi bi-pencil-square "></i></button>
        <button *ngIf="editmode" (click)="save()" style="border:none;background: none;"><i
                class="bi bi-check igreen"></i></button>
        <button *ngIf="editmode" (click)="cancel()" style="border:none;background: none;"><i
                class="bi bi-x ired"></i></button>
    </div>
</div> -->



<!-- <button (click)="login()">{{loginButtonText}}</button> -->

<div class="block">
<app-editprofile [text]="text"></app-editprofile>
</div>

<!-- <div *ngIf="editprofileService.loggedIn">
<h2>Edit Log</h2>

<ul *ngFor="let item of editprofileService.editLog">
  <li>{{ item }}</li>
</ul>
</div> -->

    

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
